<h1>Signup for an account:</h1>

<% if flash.has?(:message) %>
	<%= flash[:message] %> 
<% end %> 

<form action="/signup" method="post">
	<label>Username:</label>
	<input type="text" name="username">

	<label>Email:</label>
	<input type="text" name="email">

	<label>Password:</label>
	<input type="text" name="password">

	<input type="submit" value="Sign Up">

</form>