<!DOCTYPE html>
<html>
	<head>
		<title>Simple Meal Tracker</title>
	</head>
	<body>
		<%= yield %> 
		<div class="container">
			<h1>Welcome to Simple Meal Tracker.</h1>
			<h2>Stick to your health goals with a simple daily log, keeping track of what you eat each day.</h2>
		</div>
	</body>
</html>